.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Header-info,
.Green,
.App-content {
  min-width: 70vw;
  max-width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

.Header-info {
  background-color: #d6bdff;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: black;
}

.Green {
  background-color: #a1ffa1;
}

.App-content {
  background-color: #d6bdff;
  min-height: 100vh;
  display: inline-block;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.App-content a {
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #3e6bff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
